body{
    font-family: "Roboto", sans-serif;
    background-image: url("https://res.cloudinary.com/dwjmszkur/image/upload/v1715804844/blueSky.jpg");
    background-size: cover;
}
header{
    border-bottom: 1px solid lightgrey;
    padding: 0 0 30px 0;
}

.weather-app{
    background: rgba(255, 255, 255, 0.4);
    max-width: 600px;
    margin: 50px auto;
    box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
    border-radius: 18px;
    padding: 30px;
}
#search-input{
    width: 75%;
    background: lightblue;
    border: none;
    border-radius: 6px;
    padding: 15px 20px;
    font-size: 15px;
}
#search-button{
    background-color: darkblue;
    color: white;
    width: 20%;
    border: none;
    padding: 15px 30px;
    border-radius: 6px;
    font-size:  16px;
    margin-left: 5px;
    transition: all 200ms ease-in-out;
    cursor: pointer;
}
main{
    padding: 30px 0;
}

.weather-app-details{
    display: flex;
    justify-content: space-between;
}
.weather-app-city{
    margin: 0;
    font-size: 38px;
    line-height: 48px;
}
.daily-details{
    font-size: 15px;
    line-height: 25px;
}
.current-forecast{
    display: flex;
}

.weather-icon{
  height: 95px;
  width: 95px;
  margin-top: 10px; 
  
}
.weather-temparature{
    font-size: 90px;
    margin-left:0;
    font-weight: bold;
}
.temperature-unit{
    font-size: 30px;
    margin-top: 14px;
}
p strong {
    color: darkblue;
}
.forecast{
    display: flex;
   justify-content: space-between;
   margin-top: 20px;
   transition: all 150ms ease-in-out;
   
}

.forecast :hover{
transform: scale(1.15);
cursor: pointer;
}

.daily-weather-forecast{
background: rgb(88,136,167);
height: 100px;
width: 80px;
text-align: center;
border-radius: 25%;
display: block;

}
.forecast-day{
    margin-top: 7px;
}

.daily-weather-icon{
    font-size: 35px;
    
}

.daily-forecast-temparature strong{
    color: darkblue 
}

footer{
    border-top: 1px solid lightgrey;
    padding: 30px 0 0 0;
    font-size: 13px;
    text-align: center;
    color: rgba(0, 0,0, 0.6);
}
a{
    color: darkblue;
}